include ../components/numbers

mixin countNumber(numberInfo = {})
    dl.count-number
        dt.count-number-area__tit=numberInfo.tit
        dd(class=(numberInfo.exContClass))
            +number({
                numClass:'count-number__num' + numberInfo.numClass,
                num:numberInfo.num,
            })
            +unit({
                unitClass:'count-number__unit' + numberInfo.unitClass,
                unitText:'건'
            })       
