include ../components/numbers

mixin countNumber(numberInfo = {})
    dl.count-number(class=(numberInfo.exClass))
        dt.count-number__tit=numberInfo.tit
        dd(class=(numberInfo.exContClass))
            +number({
                numClass:'count-number__num' + numberInfo.numClass,
                num:numberInfo.num,
            })
            +unit({
                unitClass:'count-number__unit' + numberInfo.unitClass,
                unitText:'건'
            }) 
            if numberInfo.extraText  
                span.count-number__extra-txt=numberInfo.extraText

mixin smallCountNumber(numberInfo = {}) 
    strong.num=numberInfo.num
        span.unit=numberInfo.unitText 
