doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        link(rel="stylesheet", href="http://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css")
        link(rel="stylesheet", href="css/style.css")
        title VOC Dashboard
    body 
        include patterns/header

        block content 

        include patterns/quickmenu

        include patterns/footer

        script(src="js/main.min.js") 