header.page-header
    h1 VOC Dashboard 
    div.gnb-util
        span.user 
            strong 관리자
            |님 환영합니다.
        a(href="javascript:;").btn-logout 로그아웃 
    nav(aria-labelledby="mainNavigation").page-nav 
        h2.blind 메인 네비게이션
        ul 
            li 
                a(href="javascript:;")  VOC 처리
            li 
                a(href="javascript:;")  VOC 조회
            li 
                a(href="javascript:;")  VOC 관리
            li 
                a(href="javascript:;")  소비자보호이행
            li 
                a(href="javascript:;")  소비자보호 실태평가
