mixin gapPoint(gapInfo = {})
   span.gap-point(class=gapInfo.exGapClass)=gapInfo.gapNum      

mixin number(numberInfo = {})
   strong.num(class=numberInfo.numClass)=numberInfo.num

mixin unit(unitInfo = {})
   span.unit(class=unitInfo.unitClass)=unitInfo.unitText           