/**
*=================
* bottom section
*================
*/


.btm-section {
    @include flexBox(row, space-between, stretch);
    margin-top:14px;

    .box {
        flex:0 0 calc(33.33% - 14px);
        padding-top:15px;
        padding-bottom:15px;
        background-color: #fff;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    }

    .table-wrap {
        @include flexBox(row, space-between, stretch);
        overflow: auto;
    }

    table {
        a {
            color:#715deb;
            font: {
                weight:500;
            }
            text-decoration: underline;
        }
        th, td {
            padding:5px;
            color:#444;
            font: {
                weight:500;
            }
            border-top:1px solid #dedede;
            border-right:1px solid #dedede;
            text-align: center;
            vertical-align: middle;

            &:first-child {
                border-left:1px solid #dedede;
            }

            &.no-line {
                border-top: 0;
            }
        }
        thead {
            th {
                height: 29px;
                font: {
                    size:14px;
                }
                background-color: #fff;

                &:first-child {
                    border-left:1px solid #dedede;
                }
            }
        }
        tbody {
            tr:first-child {
                th,
                td {
                    border-top:1px solid #8a8a8a;
                }
            }
        }
        tfoot {
            th,
            td {
                background-color: #f1eeff;
            }

            tr:last-child {
                border-bottom:1px solid #dedede;
            }
            
        }

        &.single {
            thead {
                th {
                    height: 58px;
                }
            }
        }
    }

}

.occurrence-channel {
    padding-left:20px;
    padding-right:20px;
}

.occurrence-status {
    @include positionR(1);
    padding-left:16px;
    padding-right:16px;

    .tab__menu-wrap {
        @include positionA(2);
        top:16px;
        right:17px;

        .tab__menu {
            margin-left: 14px;
        }
    }

    .graph-area {
        margin-top:25px;
    }
}

.voc-status {
    padding-left:18px;
    padding-right:18px;

    h3 {
        margin-bottom: 13px;
    }
}

.voc__summary {
    @include flexBox(row, space-between, flex-start);

    li {
        flex:1 0 calc(31% - 8px);
        min-height: 60px;
        margin-left:8px;
        background-color: #f0f0f0;

        &:first-child {
            margin-left: 0;
        }
        &.--emphasized {
            flex-basis: 132px;
            background-color: #fde4e7;

            .num {
                color:#eb4179;
            }
        }
        dl {
            padding:10px 11px 10px 13px;
        }
        dt {
            font: {
                size:14px;
                weight:500;
            }
            letter-spacing: -0.5px;
        }
        dd {
            margin-top:7px;
            text-align: right;
        }
        .num {
            font: {
                size:17px;
            }
        }
        .unit {
            margin:3px 0 0 3px;
        }
        .count-number__extra-txt {
            display: inline-block;
            margin-top: 3px;
            vertical-align: top;
            font: {
                weight:500;
            }
        }
    }
    .count-number {
        margin-top: 0;
    }
}

.count-number {
    margin-top:15px;
    padding:0 12px 0 8px;

    .count-number__big-title {
        color:#888;
        font: {
            size:14px;
            weight:500;
        }
    }

    .count-number__big-cont {
        @include flexBox(row, space-between, center);

        .count-number {
            margin-top:6px;
            padding:0;
            flex-basis: 80px;
            @include flexBox(row, space-between, center);

            .count-number__tit {
                font-weight: 500;
            }

            &.--emphasized {
                .num {
                    color: #eb4179;
                }
            }
        }
    }
}

.notice-area {
    margin-top:17px;
    padding:14px 7px 0;
    border-top:1px solid #e5e5e5;

    li {
        @include flexBox(row, space-between, center);
        line-height: 22px;
    }

    .notice__title {
        width:260px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &::before {
            @include pseudoSelector(2px, 4px);
            margin-right:6px;
            @include bgImg(0 0);
            background-image: url('../img/bul_gray.gif');
        }
    }
    .notice__date {
        color:#949494;
        font: {
            size:12px;
            weight:500;
        }
    }
}