/**
*===========
* footer
*==========
*/


.page-footer {
    @include flexBox(row, center, center);
    height:30px;
    background-color: #787d8a;

    small {
        color:rgba(255,255,255,0.6);
        font: {
            size: 12px;
            weight:300;
        }
    }
}