mixin countNumber(numberinfo = {})
    dl.count-number-area
        dt.count-number-area__big-tit=numberinfo.bigtit
        dd.count-number-area__big-cont(class=(numberinfo.exBigContClass))
            div.flex-layout.justify-sb
                if tit
                    span.count-number-area__tit=numberinfo.tit
                    div.count-number-area__cont
                        strong.count-number-area__num(class=(numberinfo.exNumClass))
                        span.count-number-area__unit 건
                        if gap
                            span.gap-point(class=(numberinfo.exGapClass))
                else
                    div.count-number-area__cont
                        strong.count-number-area__num(class=(numberinfo.exNumClass))
                        span.count-number-area__unit 건
                        if gap
                            span.gap-point(class=(numberinfo.exGapClass))

                            
               
