mixin countNumber(numberinfo = {})
    dl.count-number-area
        dt.count-number-area__tit=numberinfo.tit
        dd(class=(numberinfo.exContClass))
            strong.num.count-number-area__num(class=(numberinfo.exNumClass))=numberinfo.num
            span.unit.count-number-area__unit=numberinfo.unittxt

                            
               
