extends templates/layout
include templates/utilities/countNumber
include templates/utilities/typeItem


block content 
    main.main-container 
        div.main-inner
            h2.blind VOC 현황
            div.flex-layout.justify-sb.align-end.top-section
                article.data-area.last-3m
                    h3.blind 최근 3개월 금감원, 대내민원 접수, 처리기일
                    div#tabs1
                        ul.tab-list 
                            li.active(data-tit='firstTab1_1') 
                                span.tab-tit 최근 3개월 금감원 목표
                            li(data-tit='firstTab1_2') 
                                span.tab-tit 최근 3개월대내민원접수/처리기일
                        div.tab-cont#firstTab1_1
                            div.last-3m__list
                                dl
                                    dt 10월 목표 및 발생
                                    dd.flex-layout.justify-end
                                        strong.count-number-area__num 117
                                            span.unit 건
                                        span.gap-point /
                                        strong.count-number-area__num 100
                                            span.unit 건
                                        +gapPoint({
                                            exGapClass:'gap-point--up',
                                            gapNum: '17'
                                        })
                                dl
                                    dt 11월 목표 및 발생
                                    dd.flex-layout.justify-end
                                        strong.count-number-area__num 128
                                            span.unit 건
                                        span.gap-point /
                                        strong.count-number-area__num 123
                                            span.unit 건
                                        +gapPoint({
                                            exGapClass:'gap-point--up',
                                            gapNum: '5'
                                        })
                                dl
                                    dt 12월 목표 및 발생
                                    dd.flex-layout.justify-end
                                        strong.count-number-area__num 99
                                            span.unit 건
                                        span.gap-point /
                                        strong.count-number-area__num 110
                                            span.unit 건
                                        +gapPoint({
                                            exGapClass:'gap-point--down',
                                            gapNum: '11'
                                        })
                            div.graph-area#chart01(style=('width:350px; height:180px;'))
                        div.tab-cont#firstTab1_2
                            div.last-3m__list
                                dl
                                    dt 10월 접수건수 및 평균 처리일
                                    dd.flex-layout.justify-end
                                        strong.count-number-area__num 1,117
                                            span.unit 건
                                        span.gap-point /
                                        strong.count-number-area__num 4.5
                                            span.unit 일
                                dl
                                    dt 11월 접수건수 및 평균 처리일
                                    dd.flex-layout.justify-end
                                        strong.count-number-area__num 3,128
                                            span.unit 건
                                        span.gap-point /
                                        strong.count-number-area__num 4.8
                                            span.unit 일
                                dl
                                    dt 12월 접수건수 및 평균 처리일
                                    dd.flex-layout.justify-end
                                        strong.count-number-area__num 990
                                            span.unit 건
                                        span.gap-point /
                                        strong.count-number-area__num 3.9
                                            span.unit 일
                            div.graph-area#chart02(style=('width:350px; height:180px;'))
                article.data-area.bytype
                    h3.blind 지점(부서)의 유형별 처리건수
                    ul.bytype__list
                        +typeItem({
                            exItemClass:'bytype__sales',
                            typeItemTitle: '영업현장 응대',
                            num: '45',
                        })
                        +typeItem({
                            exItemClass:'bytype__responsibility',
                            typeItemTitle: '책임대응',
                            num: '5',
                        })
                        +typeItem({
                            exItemClass:'bytype__civilian',
                            typeItemTitle: '대내민간 (연간 235건)',
                            num: '85',
                        })
                        +typeItem({
                            exItemClass:'bytype__complaints',
                            typeItemTitle: '금감원 민원 (연간 42건)',
                            num: '19',
                        })
            div.flex-layout.justify-sb.align-stretch.btm-section
                article.box.occurrence-channel
                    h3 채널별 대외민원 발생건수
                article.box.occurrence-status
                    h3 당월유형별 발생현황
                    div#tabs2
                        ul.tab-list 
                            li.active(data-tit='firstTab2_1') 
                                span.tab-tit 전체
                            li(data-tit='firstTab2_2') 
                                span.tab-tit 대내민원
                        div.tab-cont#firstTab2_1
                            div.graph-area#chart03(style=('height: 240px;'))
                        div.tab-cont#firstTab2_2
                            div.graph-area#chart04(style=('height: 180px;'))
                article.box.voc-status
                    h3 VOC 업무현황
                    ul.voc__summary 
                        li 
                            +countNumber({
                                tit:'나의결재',
                                num:'12',
                                numClass: '',
                                unitClass: '',
                            })
                        li 
                            +countNumber({
                                tit:'미결건',
                                num:'138',
                                numClass: '',
                                unitClass: '',
                            })
                        li.--emphasized 
                            +countNumber({
                                tit:'미확인 (협조 / VOC)',
                                num:'56',
                                numClass: '',
                                unitClass: '',
                            })
                            span (0 / 2)
                    
                