extends templates/layout
include templates/components/numbers
include templates/utilities/countNumber
include templates/utilities/typeItem
include templates/utilities/noticeListitem


block content 
    main.page-container
        div.page-inner
            h2.blind VOC 현황
            div.top-section
                article.last-3m-data
                    h3.blind 최근 3개월 금감원, 대내민원 접수, 처리기일
                    div.tab
                        div.tab__menu-wrap 
                            button(type="button", data-id="0").tab__menu.active 최근 3개월 금감원 목표
                            button(type="button", data-id="1").tab__menu 최근 3개월대내민원접수/처리기일
                        div.tab__cont(data-id="0").active
                            div.last-3m-data__list
                                dl
                                    dt 10월 목표 및 발생
                                    dd
                                        +smallCountNumber({
                                            num:'117',
                                            unitText:'건'
                                        })
                                        +unit({
                                            unitClass:'',
                                            unitText:'/'
                                        })
                                        +smallCountNumber({
                                            num:'100',
                                            unitText:'건'
                                        })
                                        +gapPoint({
                                            exGapClass:'gap-point--up',
                                            gapNum: '17'
                                        })
                                dl
                                    dt 11월 목표 및 발생
                                    dd
                                        +smallCountNumber({
                                            num:'128',
                                            unitText:'건'
                                        })
                                        +unit({
                                            unitClass:'',
                                            unitText:'/'
                                        })
                                        +smallCountNumber({
                                            num:'123',
                                            unitText:'건'
                                        })
                                        +gapPoint({
                                            exGapClass:'gap-point--up',
                                            gapNum: '5'
                                        })
                                dl
                                    dt 12월 목표 및 발생
                                    dd
                                        +smallCountNumber({
                                            num:'99',
                                            unitText:'건'
                                        })
                                        +unit({
                                            unitClass:'',
                                            unitText:'/'
                                        })
                                        +smallCountNumber({
                                            num:'110',
                                            unitText:'건'
                                        })
                                        +gapPoint({
                                            exGapClass:'gap-point--down',
                                            gapNum: '11'
                                        })
                            div.graph-area#chart01(style=('width:407px; height:180px;'))
                        div.tab__cont(data-id="1")
                            div.last-3m-data__list
                                dl
                                    dt 10월 접수건수 및 평균 처리일
                                    dd
                                        +smallCountNumber({
                                            num:'1,117',
                                            unitText:'건'
                                        })
                                        +unit({
                                            unitClass:'',
                                            unitText:'/'
                                        })
                                        +smallCountNumber({
                                            num:'4.5',
                                            unitText:'일'
                                        })
                                dl
                                    dt 11월 접수건수 및 평균 처리일
                                    dd
                                        +smallCountNumber({
                                            num:'3,128',
                                            unitText:'건'
                                        })
                                        +unit({
                                            unitClass:'',
                                            unitText:'/'
                                        })
                                        +smallCountNumber({
                                            num:'4.8',
                                            unitText:'일'
                                        })
                                dl
                                    dt 12월 접수건수 및 평균 처리일
                                    dd
                                        +smallCountNumber({
                                            num:'990',
                                            unitText:'건'
                                        })
                                        +unit({
                                            unitClass:'',
                                            unitText:'/'
                                        })
                                        +smallCountNumber({
                                            num:'3.9',
                                            unitText:'일'
                                        })
                            div.graph-area#chart02(style=('width:390px; height:180px;'))
                article.type-data
                    h3.blind 지점(부서)의 유형별 처리건수
                    ul.type-data__list
                        +typeItem({
                            exItemClass:'type-data__sales',
                            typeItemTitle: '영업현장 응대',
                            num: '45',
                        })
                        +typeItem({
                            exItemClass:'type-data__responsibility',
                            typeItemTitle: '책임대응',
                            num: '5',
                        })
                        +typeItem({
                            exItemClass:'type-data__civilian',
                            typeItemTitle: '대내민간 (연간 235건)',
                            num: '85',
                        })
                        +typeItem({
                            exItemClass:'type-data__complaints',
                            typeItemTitle: '금감원 민원 (연간 42건)',
                            num: '19',
                        })
            div.btm-section
                article.box.occurrence-channel
                    h3 채널별 대외민원 발생건수
                    div.table-wrap
                        table
                            colgroup 
                                col(style="width:21px;") 
                                col(style="width:68px;") 
                                col(style="width:61px;") 
                                col(style="width:61px;") 
                                col(style="width:61px;") 
                            thead 
                                tr 
                                    th(scope="col", colspan="2", rowspan="2") 구분
                                    th(scope="col", colspan="3") 7월 금감원 민원
                                tr 
                                    th(scope="col") 목표
                                    th(scope="col") 발생
                                    th(scope="col") Gap
                            tbody 
                                tr 
                                    th(scope="row", colspan="2").bg--skyblue DB
                                    td.bg--skyblue 15
                                    td.bg--skyblue 5
                                    td.bg--skyblue 15
                                tr 
                                    th(scope="row").bg--skyblue.no-line 
                                    th(scope="row") 제휴 
                                    td 2
                                    td 2
                                    td 3
                                tr 
                                    th(scope="row").bg--skyblue.no-line 
                                    th(scope="row") HY 
                                    td 22
                                    td 17
                                    td 30
                                tr 
                                    th(scope="row", colspan="2").bg--skyblue FC1
                                    td.bg--skyblue 13
                                    td.bg--skyblue 3
                                    td.bg--skyblue 16
                                tr 
                                    th(scope="row", colspan="2").bg--skyblue FC2
                                    td.bg--skyblue 13
                                    td.bg--skyblue 3
                                    td.bg--skyblue 16
                                tr 
                                    th(scope="row", colspan="2").bg--skyblue GA
                                    td.bg--skyblue 13
                                    td.bg--skyblue 3
                                    td.bg--skyblue 16
                                tr 
                                    th(scope="row", colspan="2").bg--skyblue BA
                                    td 43
                                    td 6
                                    td 1
                                tr 
                                    th(scope="row", colspan="2") 본사
                                    td 4
                                    td 41
                                    td 6
                                tr 
                                    th(scope="row", colspan="2") 보험금
                                    td 9
                                    td 8
                                    td 8
                            tfoot 
                                tr 
                                    th(scope="row", colspan="2") 전사
                                    td 
                                        a(href="javascript:;") 92 
                                    td 
                                        a(href="javascript:;") 132 
                                    td 
                                        a(href="javascript:;") 85 
                        table.single
                            colgroup 
                                col(style="width:62px;") 
                            thead 
                                tr 
                                    th(scope="col") 
                                        | 대내
                                        br
                                        | 민원
                            tbody 
                                tr 
                                    td.bg--skyblue 15
                                tr 
                                    td 3
                                tr 
                                    td 65
                                tr 
                                    td.bg--skyblue 16
                                tr 
                                    td.bg--skyblue 16
                                tr 
                                    td.bg--skyblue 16
                                tr 
                                    td -
                                tr 
                                    td 6
                                tr 
                                    td 6
                            tfoot 
                                    td 
                                        a(href="javascript:;") 285          

                article.box.occurrence-status
                    h3 당월유형별 발생현황
                    div.tab
                        div.tab__menu-wrap 
                            .input-wrap(data-id="0").tab__menu.active
                                input(type="radio", name="all", id="all", checked)
                                label(for="all") 전체  
                            .input-wrap(data-id="1").tab__menu
                                input(type="radio", name="complaints", id="complaints")
                                label(for="complaints") 대내민원  
                            //- button(type="button", data-id="0").tab__menu.active 전체
                            //- button(type="button", data-id="1").tab__menu 대내민원
                        div.tab__cont(data-id="0").active
                            div.graph-area#chart03(style=('height: 240px;')) 1
                        div.tab__cont(data-id="1")
                            div.graph-area#chart04(style=('height: 180px;')) 2
                article.box.voc-status
                    h3 VOC 업무현황
                    ul.voc__summary 
                        li 
                            +countNumber({
                                tit:'나의결재',
                                num:'12',
                                numClass: '',
                                unitClass: '',
                                extraText:''
                            })
                        li 
                            +countNumber({
                                tit:'미결건',
                                num:'138',
                                numClass: '',
                                unitClass: '',
                                extraText:''
                            })
                        li.--emphasized 
                            +countNumber({
                                tit:'미확인 (협조 / VOC)',
                                num:'56',
                                numClass: '',
                                unitClass: '',
                                extraText: '(0 / 2)'
                            })
                    dl.count-number
                        dt.count-number__big-title 나의부서 / 지점처리
                        dd.count-number__big-cont
                            +countNumber({
                                tit:'지연',
                                num:'4',
                                exClass:'--emphasized',
                                numClass:'',
                                unitClass: '',
                                extraText:''
                            })
                            +countNumber({
                                tit:'당일',
                                num:'5',
                                exClass:'',
                                numClass:'',
                                unitClass: '',
                                extraText:''
                            })
                            +countNumber({
                                tit:'전체',
                                num:'28',
                                exClass:'',
                                numClass:'',
                                unitClass: '',
                                extraText:''
                            })
                    dl.count-number
                        dt.count-number__big-title 나의처리
                        dd.count-number__big-cont
                            +countNumber({
                                tit:'지연',
                                num:'1',
                                exClass:'--emphasized',
                                numClass:'',
                                unitClass: '',
                                extraText:''
                            })
                            +countNumber({
                                tit:'당일',
                                num:'2',
                                exClass:'',
                                numClass:'',
                                unitClass: '',
                                extraText:''
                            })
                            +countNumber({
                                tit:'전체',
                                num:'5',
                                exClass:'',
                                numClass:'',
                                unitClass: '',
                                extraText:''
                            })
                    dl.count-number
                        dt.count-number__big-title 협조처리
                        dd.count-number__big-cont
                            +countNumber({
                                tit:'지연',
                                num:'0',
                                exClass:'--emphasized',
                                numClass:'',
                                unitClass: '',
                                extraText:''
                            })
                            +countNumber({
                                tit:'당일',
                                num:'1',
                                exClass:'',
                                numClass:'',
                                unitClass: '',
                                extraText:''
                            })
                            +countNumber({
                                tit:'전체',
                                num:'0',
                                exClass:'',
                                numClass:'',
                                unitClass: '',
                                extraText:''
                            })
                    div.notice-area
                        h3 공지사항
                        ul 
                            +noticeListitem({
                                title:'불만 사례 대처방법에 대한 교육 실시',
                                date:'2022.01.05'
                            })
                            +noticeListitem({
                                title:'VOC 시스템 사용 매뉴얼',
                                date:'2022.01.03'
                            })
                            +noticeListitem({
                                title:'홈페이지가 새롭게 개편되었습니다.',
                                date:'2022.01.01'
                            })
                                
                        
                